<% if resource.errors.any? %>
  <div class="notification content is-danger form-errors">
    <button class="delete"></button>
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>

  <script>
    $(document).ready(function(){
      $('.form-errors button').off('click').click(function(e){
        e.preventDefault();

        $(this).parent().fadeOut();
      });
    });
  </script>
<% end %>
